<h1>Tous les livres</h1>
 
<table>
  <tr>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Catégorie</th>
    <th></th>
  </tr>
 
  <% @livres.each do |livre| %>
    <tr>
      <td><%= livre.titre %></td>
      <td><%= livre.auteur.nom %></td>
      <td><%= livre.categorie.nom %></td>
      <td><%= link_to 'Voir', livre_path(livre) %></td>
      <td><%= link_to 'Editer', edit_livre_path(livre) %></td>
      <td><%= link_to 'Effacer', livre_path(livre), method: :delete, 
                            data: {confirm: 'Etes vous sûr?'} %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Ajouter', new_livre_path %>
<%= link_to 'Retour', root_path %>
