<h1>Tous les livres</h1>

<div class="row">
<div class="col-md-8">

<table class="table">   
 
  <% @livres.each do |livre| %>
    <tr>
      <td><%= livre.titre %></td>
      <td><%= livre.auteur.nom %></td>
      <td><%= livre.categorie.nom %></td>
      <td>
      <%= link_to 'Voir', livre_path(livre), class: "btn btn-xs btn-default" %>
      <%= link_to 'Editer', edit_livre_path(livre), class: "btn btn-xs btn-default" %>
      <%= link_to 'Effacer', livre_path(livre), method: :delete, 
                            data: {confirm: 'Etes vous sûr?'}, class: "btn btn-xs btn-default" %>
      </td>
    
    </tr>
  <% end %>
</table>
</div>
</div>



<%= link_to 'Ajouter', new_livre_path %>
<%= link_to 'Retour', root_path %>
