
<p>
  <strong>Titre :</strong>
  <%= @livre.titre %>
</p>
<p>
  <strong>Auteur :</strong>
  <%= @livre.auteur %>
</p>
<p>
  <strong>Catégorie :</strong>
  <%= @livre.categorie %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @livre.texte %>
</p>

<%= link_to 'Editer', edit_livre_path(@livre) %>
<%= link_to 'Retour', livres_path %>
