<h1>Bienvenue dans mon Anthologie</h1>



<%= link_to 'Tous les livres', controller: 'livres' %>

<%= link_to 'Ajouter un livre', new_livre_path %><br>

<%= link_to 'Tous les auteurs', controller: 'auteurs' %>

<%= link_to 'Ajouter un auteur', new_auteur_path %> <br>


<%= link_to 'Toutes le catégories', controller: 'categories' %>

<%= link_to 'Ajouter une catégorie', new_category_path %>

